.mainbody {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 0;

}
.feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.feedbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .responsive {
    width: 100%;
    height: auto;
  }